flows.json
[
    {
        "id": "ca7ec7c7e5bdf2fc",
        "type": "tab",
        "label": "Log In",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8e96c2a33d8f276",
        "type": "tab",
        "label": "Data flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c39670e4e7d3237",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "febe01d4954981b4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22c90016b0138946",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "febe01d4954981b4",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1be80fd774cbf9c",
        "type": "ui_group",
        "name": "Chart",
        "tab": "febe01d4954981b4",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "42eef4bf01b468b0",
        "type": "ui_tab",
        "name": "Log in",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e53b421013fe6f78",
        "type": "ui_group",
        "name": "Default",
        "tab": "42eef4bf01b468b0",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65c1d4a51c575c31",
        "type": "ui_group",
        "name": "Config",
        "tab": "febe01d4954981b4",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "590e614324272a29",
        "type": "ui_group",
        "name": "Feeding schedule",
        "tab": "febe01d4954981b4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc760b424dfac2cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#65c030",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "AquaSmart Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b55e29a649cb6ae",
        "type": "ui_form",
        "z": "ca7ec7c7e5bdf2fc",
        "name": "Log In",
        "label": "Log In",
        "group": "e53b421013fe6f78",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "Log In",
        "cancel": "Clear all",
        "topic": "account_infor",
        "topicType": "global",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "facd3568c75ffe94",
        "type": "mqtt in",
        "z": "e8e96c2a33d8f276",
        "name": "Receive sensor's data",
        "topic": "aqua/sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9c39670e4e7d3237",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "5d2d85bfcce24bf6"
            ]
        ]
    },
    {
        "id": "5d2d85bfcce24bf6",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Split msg",
        "func": "var payload = msg.payload;\n\nvar parts = payload.split(\",\");\nvar temperature = parseFloat(parts[0]); \nvar pH = parseFloat(parts[1]);\n\nmsg.temperature = temperature;\nmsg.pH = pH;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "3e16b9223831d42b",
                "ca7040c5336401cd"
            ]
        ]
    },
    {
        "id": "a9865e62fb0eddc3",
        "type": "ui_gauge",
        "z": "e8e96c2a33d8f276",
        "name": "TempGauge",
        "group": "22c90016b0138946",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 682,
        "y": 109.00000190734863,
        "wires": []
    },
    {
        "id": "b8ffa45a88e25d08",
        "type": "ui_chart",
        "z": "e8e96c2a33d8f276",
        "name": "pHChart",
        "group": "d1be80fd774cbf9c",
        "order": 2,
        "width": 8,
        "height": 6,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 672,
        "y": 289.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "c8060b3c441eacbc",
        "type": "ui_chart",
        "z": "e8e96c2a33d8f276",
        "name": "TempChart",
        "group": "d1be80fd774cbf9c",
        "order": 1,
        "width": 8,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "125",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 682,
        "y": 169.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "b6e55afbe70b62fa",
        "type": "ui_gauge",
        "z": "e8e96c2a33d8f276",
        "name": "pHGauge",
        "group": "22c90016b0138946",
        "order": 2,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 672,
        "y": 229.00000190734863,
        "wires": []
    },
    {
        "id": "6c7e06fb2c34eab6",
        "type": "debug",
        "z": "e8e96c2a33d8f276",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 672,
        "y": 49.00000190734863,
        "wires": []
    },
    {
        "id": "97386011274523c6",
        "type": "debug",
        "z": "e8e96c2a33d8f276",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 672,
        "y": 349.00000190734863,
        "wires": []
    },
    {
        "id": "3e16b9223831d42b",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get tmp",
        "func": "\nmsg.payload = msg.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 492,
        "y": 109.00000190734863,
        "wires": [
            [
                "6c7e06fb2c34eab6",
                "a9865e62fb0eddc3",
                "c8060b3c441eacbc"
            ]
        ]
    },
    {
        "id": "ca7040c5336401cd",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get pH",
        "func": "msg.payload = msg.pH;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 492,
        "y": 289.00000190734863,
        "wires": [
            [
                "b6e55afbe70b62fa",
                "b8ffa45a88e25d08",
                "97386011274523c6"
            ]
        ]
    },
    {
        "id": "aad4816e25b7a74d",
        "type": "ui_form",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "Set pH limits",
        "group": "65c1d4a51c575c31",
        "order": 2,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Lower limit",
                "value": "lowerLimit",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Upper limit",
                "value": "upperLimit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lowerLimit": "",
            "upperLimit": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "c4c17cce6edc6a47"
            ]
        ]
    },
    {
        "id": "c4c17cce6edc6a47",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Check input values",
        "func": "var payload = msg.payload;\n\nvar upper = parseFloat(payload.upperLimit);\nvar lower = parseFloat(payload.lowerLimit);\n\nvar up_lim = 14, lw_lim = 0;\n\nif (isNaN(upper) || isNaN(lower) || upper > up_lim || lower < lw_lim) {\n    msg.msg = \"Invalid limit values. Ensure upperLimit and lowerLimit are valid numbers.\";\n}\nelse if (lower > upper) {\n    msg.msg = \"Lower limit must not be greater than upper limit.\";\n}\nelse msg.msg = \"valid\";\n\nmsg.topic = \"aqua/sensor/pHLimit\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "2e22f594189a6b58"
            ]
        ]
    },
    {
        "id": "2e22f594189a6b58",
        "type": "switch",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "property": "msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "valid",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "valid",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "019129d08e20dc1a"
            ],
            [
                "d5b61288f9e00a0e"
            ]
        ]
    },
    {
        "id": "f64b2826bf60d035",
        "type": "mqtt out",
        "z": "e8e96c2a33d8f276",
        "name": "aqua/sensor/pHLimit",
        "topic": "aqua/sensor/pHLimit",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c39670e4e7d3237",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "019129d08e20dc1a",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Reformat msg payload publish",
        "func": "delete msg.msg;\n\nmsg.payload = `${msg.payload.upperLimit},${msg.payload.lowerLimit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// default limits\nvar msg = {payload : \"7,8.5\"};\n\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 480,
        "wires": [
            [
                "f64b2826bf60d035"
            ]
        ]
    },
    {
        "id": "4590f6c66bb63d2d",
        "type": "ui_form",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "Set temp limits",
        "group": "65c1d4a51c575c31",
        "order": 1,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Lower limit",
                "value": "lowerLimit",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Upper limit",
                "value": "upperLimit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lowerLimit": "",
            "upperLimit": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Cancel",
        "topic": "aqua/sensor/tmpLimit",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "c08dd4deb1ab3b26"
            ]
        ]
    },
    {
        "id": "c08dd4deb1ab3b26",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Check input values",
        "func": "var payload = msg.payload;\n\nvar upper = parseFloat(payload.upperLimit);\nvar lower = parseFloat(payload.lowerLimit);\n\nvar up_lim = 125, lw_lim = -55;\n\n\nif (isNaN(upper) || isNaN(lower) || upper > up_lim || lower < lw_lim)\n{\n    msg.msg = \"Invalid limit values. Ensure upperLimit and lowerLimit are valid numbers.\";\n}\nelse if (lower > upper)\n{\n    msg.msg = \"Lower limit must not be greater than upper limit.\";\n}\nelse msg.msg = \"valid\";\nmsg.topic = \"aqua/sensor/tmpLimit\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "802fab4f1761bdaa"
            ]
        ]
    },
    {
        "id": "802fab4f1761bdaa",
        "type": "switch",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "property": "msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "valid",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "valid",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "40dc35769b2ae3eb"
            ],
            [
                "c85f88f43881c85a"
            ]
        ]
    },
    {
        "id": "40dc35769b2ae3eb",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Reformat msg payload publish",
        "func": "delete msg.msg;\n\nmsg.payload = `${msg.payload.upperLimit},${msg.payload.lowerLimit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// default limits\nvar msg = { payload: \"25,32\" };\n\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "431741a49418f828"
            ]
        ]
    },
    {
        "id": "431741a49418f828",
        "type": "mqtt out",
        "z": "e8e96c2a33d8f276",
        "name": "aqua/sensor/tmpLimit",
        "topic": "aqua/sensor/tmpLimit",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c39670e4e7d3237",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "26338ac16bd77ef8",
        "type": "ui_form",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "",
        "group": "590e614324272a29",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Time",
                "value": "Time",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7fef327f671fe9ca",
        "type": "ui_switch",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "Auto",
        "tooltip": "Automatically feeding base on schedule",
        "group": "590e614324272a29",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "829d068a470b9c62",
        "type": "ui_toast",
        "z": "e8e96c2a33d8f276",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "Setup error",
        "topic": "Invalid value input!",
        "name": "Invalid input noti",
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "be083f11bf5de95f",
        "type": "ui_toast",
        "z": "e8e96c2a33d8f276",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "Setup error",
        "topic": "Invalid value input!",
        "name": "Invalid input noti",
        "x": 900,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b61288f9e00a0e",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get error msg",
        "func": "var payload = msg.msg;\ndelete msg.msg;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 540,
        "wires": [
            [
                "829d068a470b9c62"
            ]
        ]
    },
    {
        "id": "c85f88f43881c85a",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get error msg",
        "func": "var payload = msg.msg;\ndelete msg.msg;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "be083f11bf5de95f"
            ]
        ]
    },
    {
        "id": "ff702c7cbca613c1",
        "type": "ui_dropdown",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 780,
        "wires": [
            []
        ]
    }
]