flows.json
[
    {
        "id": "ca7ec7c7e5bdf2fc",
        "type": "tab",
        "label": "Log In",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8e96c2a33d8f276",
        "type": "tab",
        "label": "Data flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34836421c703f805",
        "type": "tab",
        "label": "Feeding schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c95d874b6e3eb36",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94a271eea9fa077a",
        "type": "group",
        "z": "34836421c703f805",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d01402844ef2d11e",
            "ea0cebee5d175aed",
            "67dfd12da60e4341",
            "4f61e1304a005a69",
            "cdce8c4165890d0a"
        ],
        "x": 34,
        "y": 759,
        "w": 812,
        "h": 162
    },
    {
        "id": "9c39670e4e7d3237",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "febe01d4954981b4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22c90016b0138946",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "febe01d4954981b4",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1be80fd774cbf9c",
        "type": "ui_group",
        "name": "Chart",
        "tab": "febe01d4954981b4",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "42eef4bf01b468b0",
        "type": "ui_tab",
        "name": "Log in",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e53b421013fe6f78",
        "type": "ui_group",
        "name": "Default",
        "tab": "42eef4bf01b468b0",
        "order": 1,
        "disp": false,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65c1d4a51c575c31",
        "type": "ui_group",
        "name": "Config",
        "tab": "febe01d4954981b4",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "590e614324272a29",
        "type": "ui_group",
        "name": "Daily feeding schedule",
        "tab": "6889142e4e8ae192",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc760b424dfac2cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#65c030",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "AquaSmart Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6889142e4e8ae192",
        "type": "ui_tab",
        "name": "Schedule",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff9fdb9a.7da098",
        "type": "ui_group",
        "name": "TEST",
        "tab": "7dcc246f.ee661c",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7dcc246f.ee661c",
        "type": "ui_tab",
        "name": "TEST",
        "icon": "dashboard",
        "order": 12,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "dc5dc2985129af2e",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "7b55e29a649cb6ae",
        "type": "ui_form",
        "z": "ca7ec7c7e5bdf2fc",
        "name": "Log In",
        "label": "Log In",
        "group": "e53b421013fe6f78",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "Log In",
        "cancel": "Clear all",
        "topic": "account_infor",
        "topicType": "global",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "facd3568c75ffe94",
        "type": "mqtt in",
        "z": "e8e96c2a33d8f276",
        "name": "Receive sensor's data",
        "topic": "aqua/sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9c39670e4e7d3237",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "5d2d85bfcce24bf6"
            ]
        ]
    },
    {
        "id": "5d2d85bfcce24bf6",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Split msg",
        "func": "var payload = msg.payload;\n\nvar parts = payload.split(\",\");\nvar temperature = parseFloat(parts[0]); \nvar pH = parseFloat(parts[1]);\n\nmsg.temperature = temperature;\nmsg.pH = pH;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "3e16b9223831d42b",
                "ca7040c5336401cd"
            ]
        ]
    },
    {
        "id": "a9865e62fb0eddc3",
        "type": "ui_gauge",
        "z": "e8e96c2a33d8f276",
        "name": "TempGauge",
        "group": "22c90016b0138946",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 682,
        "y": 109.00000190734863,
        "wires": []
    },
    {
        "id": "b8ffa45a88e25d08",
        "type": "ui_chart",
        "z": "e8e96c2a33d8f276",
        "name": "pHChart",
        "group": "d1be80fd774cbf9c",
        "order": 2,
        "width": 8,
        "height": 6,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 672,
        "y": 289.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "c8060b3c441eacbc",
        "type": "ui_chart",
        "z": "e8e96c2a33d8f276",
        "name": "TempChart",
        "group": "d1be80fd774cbf9c",
        "order": 1,
        "width": 8,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "125",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 682,
        "y": 169.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "b6e55afbe70b62fa",
        "type": "ui_gauge",
        "z": "e8e96c2a33d8f276",
        "name": "pHGauge",
        "group": "22c90016b0138946",
        "order": 2,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 672,
        "y": 229.00000190734863,
        "wires": []
    },
    {
        "id": "6c7e06fb2c34eab6",
        "type": "debug",
        "z": "e8e96c2a33d8f276",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 672,
        "y": 49.00000190734863,
        "wires": []
    },
    {
        "id": "97386011274523c6",
        "type": "debug",
        "z": "e8e96c2a33d8f276",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 672,
        "y": 349.00000190734863,
        "wires": []
    },
    {
        "id": "3e16b9223831d42b",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get tmp",
        "func": "\nmsg.payload = msg.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 492,
        "y": 109.00000190734863,
        "wires": [
            [
                "6c7e06fb2c34eab6",
                "a9865e62fb0eddc3",
                "c8060b3c441eacbc"
            ]
        ]
    },
    {
        "id": "ca7040c5336401cd",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get pH",
        "func": "msg.payload = msg.pH;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 492,
        "y": 289.00000190734863,
        "wires": [
            [
                "b6e55afbe70b62fa",
                "b8ffa45a88e25d08",
                "97386011274523c6"
            ]
        ]
    },
    {
        "id": "aad4816e25b7a74d",
        "type": "ui_form",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "Set pH limits",
        "group": "65c1d4a51c575c31",
        "order": 4,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Lower limit",
                "value": "lowerLimit",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Upper limit",
                "value": "upperLimit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lowerLimit": "",
            "upperLimit": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "c4c17cce6edc6a47"
            ]
        ]
    },
    {
        "id": "c4c17cce6edc6a47",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Check input values",
        "func": "var payload = msg.payload;\n\nvar upper = parseFloat(payload.upperLimit);\nvar lower = parseFloat(payload.lowerLimit);\n\nvar up_lim = 14, lw_lim = 0;\n\nif (isNaN(upper) || isNaN(lower) || upper > up_lim || lower < lw_lim) {\n    msg.msg = \"Invalid limit values. Ensure upperLimit and lowerLimit are valid numbers.\";\n}\nelse if (lower > upper) {\n    msg.msg = \"Lower limit must not be greater than upper limit.\";\n}\nelse msg.msg = \"valid\";\n\nmsg.topic = \"aqua/sensor/pHLimit\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "2e22f594189a6b58"
            ]
        ]
    },
    {
        "id": "2e22f594189a6b58",
        "type": "switch",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "property": "msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "valid",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "valid",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "019129d08e20dc1a",
                "fa21cd890a1881ca"
            ],
            [
                "d5b61288f9e00a0e"
            ]
        ]
    },
    {
        "id": "f64b2826bf60d035",
        "type": "mqtt out",
        "z": "e8e96c2a33d8f276",
        "name": "aqua/sensor/pHLimit",
        "topic": "aqua/sensor/pHLimit",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c39670e4e7d3237",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "019129d08e20dc1a",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Reformat msg payload publish",
        "func": "delete msg.msg;\n\nmsg.payload = `${msg.payload.upperLimit},${msg.payload.lowerLimit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 480,
        "wires": [
            [
                "f64b2826bf60d035"
            ]
        ]
    },
    {
        "id": "4590f6c66bb63d2d",
        "type": "ui_form",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "label": "Set temp limits",
        "group": "65c1d4a51c575c31",
        "order": 2,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Lower limit",
                "value": "lowerLimit",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Upper limit",
                "value": "upperLimit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lowerLimit": "",
            "upperLimit": ""
        },
        "payload": "",
        "submit": "Confirm",
        "cancel": "Cancel",
        "topic": "aqua/sensor/tmpLimit",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "c08dd4deb1ab3b26"
            ]
        ]
    },
    {
        "id": "c08dd4deb1ab3b26",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Check input values",
        "func": "var payload = msg.payload;\n\nvar upper = parseFloat(payload.upperLimit);\nvar lower = parseFloat(payload.lowerLimit);\n\nvar up_lim = 125, lw_lim = -55;\n\n\nif (isNaN(upper) || isNaN(lower) || upper > up_lim || lower < lw_lim)\n{\n    msg.msg = \"Invalid limit values. Ensure upperLimit and lowerLimit are valid numbers.\";\n}\nelse if (lower > upper)\n{\n    msg.msg = \"Lower limit must not be greater than upper limit.\";\n}\nelse msg.msg = \"valid\";\nmsg.topic = \"aqua/sensor/tmpLimit\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 680,
        "wires": [
            [
                "802fab4f1761bdaa"
            ]
        ]
    },
    {
        "id": "802fab4f1761bdaa",
        "type": "switch",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "property": "msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "valid",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "valid",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "40dc35769b2ae3eb",
                "8a09650868d46d12"
            ],
            [
                "c85f88f43881c85a"
            ]
        ]
    },
    {
        "id": "40dc35769b2ae3eb",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Reformat msg payload publish",
        "func": "delete msg.msg;\n\nmsg.payload = `${msg.payload.upperLimit},${msg.payload.lowerLimit}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// default limits\nvar msg = { payload: \"25,32\" };\n\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 660,
        "wires": [
            [
                "431741a49418f828"
            ]
        ]
    },
    {
        "id": "431741a49418f828",
        "type": "mqtt out",
        "z": "e8e96c2a33d8f276",
        "name": "aqua/sensor/tmpLimit",
        "topic": "aqua/sensor/tmpLimit",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c39670e4e7d3237",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "829d068a470b9c62",
        "type": "ui_toast",
        "z": "e8e96c2a33d8f276",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "Setup error",
        "topic": "Invalid value input!",
        "name": "Invalid input noti",
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "be083f11bf5de95f",
        "type": "ui_toast",
        "z": "e8e96c2a33d8f276",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "Setup error",
        "topic": "Invalid value input!",
        "name": "Invalid input noti",
        "x": 900,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b61288f9e00a0e",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get error msg",
        "func": "var payload = msg.msg;\ndelete msg.msg;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 540,
        "wires": [
            [
                "829d068a470b9c62"
            ]
        ]
    },
    {
        "id": "c85f88f43881c85a",
        "type": "function",
        "z": "e8e96c2a33d8f276",
        "name": "Get error msg",
        "func": "var payload = msg.msg;\ndelete msg.msg;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 720,
        "wires": [
            [
                "be083f11bf5de95f"
            ]
        ]
    },
    {
        "id": "8a09650868d46d12",
        "type": "ui_text",
        "z": "e8e96c2a33d8f276",
        "group": "65c1d4a51c575c31",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Current tmp limits",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "fa21cd890a1881ca",
        "type": "ui_text",
        "z": "e8e96c2a33d8f276",
        "group": "65c1d4a51c575c31",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Current pH limits",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "4de01cb4f1ad5757",
        "type": "inject",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"upperLimit\":32,\"lowerLimit\":25}",
        "payloadType": "json",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "40dc35769b2ae3eb",
                "8a09650868d46d12"
            ]
        ]
    },
    {
        "id": "e508543d9042df7a",
        "type": "inject",
        "z": "e8e96c2a33d8f276",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"upperLimit\":8,\"lowerLimit\":7.5}",
        "payloadType": "json",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "019129d08e20dc1a",
                "fa21cd890a1881ca"
            ]
        ]
    },
    {
        "id": "7fef327f671fe9ca",
        "type": "ui_switch",
        "z": "34836421c703f805",
        "name": "",
        "label": "Auto",
        "tooltip": "Automatically feeding base on schedule",
        "group": "590e614324272a29",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "cc9b99af9a973ecd"
            ]
        ]
    },
    {
        "id": "a0ef59ccbdd4dda2",
        "type": "ui_button",
        "z": "34836421c703f805",
        "name": "Delete button",
        "group": "590e614324272a29",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Delete time",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "5bfc62e1e63afe88"
            ]
        ]
    },
    {
        "id": "ab468da7239a1992",
        "type": "ui_text_input",
        "z": "34836421c703f805",
        "name": "Add new time",
        "label": "Add new row",
        "tooltip": "",
        "group": "590e614324272a29",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "d9742c2819931028"
            ]
        ]
    },
    {
        "id": "2c569491f6305c24",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Process Add",
        "func": "// Lấy dữ liệu từ msg.payload\nlet newTime = msg.payload; // Thời gian dạng hh:mm\nif (newTime === \"NaN:NaN\") {\n    msg.payload = \"Invalid / Null time input!\";\n    return msg;\n}\n// Lấy bảng từ context flow\nlet data = flow.get(\"table\").payload || [];\n\n// Kiểm tra xem thời gian đã tồn tại trong bảng chưa \nlet exists = data.some(item => typeof item.time === 'string' && item.time === newTime);\n\n// Nếu thời gian chưa tồn tại, thêm vào bảng\nif (!exists) {\n    data.push({\n        time: newTime,\n        done: false,\n        id: 0\n    });\n    msg.payload = \"Add success!\";\n} else {\n    msg.payload = \"Time exists!\";\n}\n\nlet updated_table = {\"payload\": data}\n// Lưu bảng vào flow context\nflow.set(\"table\", updated_table);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 340,
        "wires": [
            [
                "c165d504301ac2b6",
                "38366ffa9378e331"
            ]
        ]
    },
    {
        "id": "5bfc62e1e63afe88",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Process Remove",
        "func": "let indexToRemove = parseInt(flow.get(\"index\"));\nlet table = flow.get(\"table\").payload;\n\nvar msg = {};\n// Kiểm tra xem index có hợp lệ không\nif (indexToRemove >= 1 && indexToRemove <= table.length) {\n    // Xóa phần tử có index tương ứng khỏi bảng\n    table = table.filter(item => item.id !== indexToRemove);\n    \n    msg.payload = \"Delete success!\";\n}\nelse {\n    msg.payload = \"Index out of bounds!\"\n}\nlet updated_table = {\"payload\" : table};\nflow.set(\"table\", updated_table);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 620,
        "wires": [
            [
                "b7cde39c4119f82c",
                "4b3acabb3f17a7af"
            ]
        ]
    },
    {
        "id": "c165d504301ac2b6",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7cde39c4119f82c",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "ea6d874806af1436",
        "type": "ui_text_input",
        "z": "34836421c703f805",
        "name": "Index of time to delete",
        "label": "Index of row to delete",
        "tooltip": "",
        "group": "590e614324272a29",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "d0ac7ab67d8f0f85"
            ]
        ]
    },
    {
        "id": "312b7a7404c7db20",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "638d3418cf1ba387",
        "type": "function",
        "z": "34836421c703f805",
        "name": "sort",
        "func": "// Đọc dữ liệu JSON từ payload\nlet data = flow.get(\"table\").payload;\n\n\n// Sắp xếp dữ liệu theo thời gian (theo định dạng hh:mm)\ndata.sort((a, b) => {\n    let timeA = a.time.split(':').map(Number);\n    let timeB = b.time.split(':').map(Number);\n    return timeA[0] * 60 + timeA[1] - (timeB[0] * 60 + timeB[1]);\n});\n\n// Cập nhật ID cho mỗi dòng dữ liệu\ndata = data.map((item, index) => ({ ...item, id: index + 1 }));\n\nlet table = {\"payload\": data}\nflow.set(\"table\", table);\n\nreturn table;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965.9999961853027,
        "y": 479.0000057220459,
        "wires": [
            [
                "2e11cef063589a1a",
                "1c2c335d55ebc684"
            ]
        ]
    },
    {
        "id": "8b79b0241a096405",
        "type": "json",
        "z": "34836421c703f805",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "8e2874808b8e7a0f",
                "e3b91fd5d047ece0"
            ]
        ]
    },
    {
        "id": "eff5673ee7e21d15",
        "type": "file in",
        "z": "34836421c703f805",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 480,
        "wires": [
            [
                "8b79b0241a096405"
            ]
        ]
    },
    {
        "id": "f45b3c8861cad6ed",
        "type": "inject",
        "z": "34836421c703f805",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": ".node-red\\projects\\AquaSmart\\scheduling.json",
        "payloadType": "str",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "eff5673ee7e21d15"
            ]
        ]
    },
    {
        "id": "2e11cef063589a1a",
        "type": "ui_table",
        "z": "34836421c703f805",
        "group": "590e614324272a29",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 6,
        "columns": [
            {
                "field": "id",
                "title": "Index",
                "width": "100",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "Time",
                "width": "100",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "done",
                "title": "Fed today",
                "width": "115",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1121.9999923706055,
        "y": 478.0000114440918,
        "wires": []
    },
    {
        "id": "42d48329161bb8af",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Format from timestampt to time (HH:MM) string",
        "func": "\n// Giả sử timestamp là số milliseconds từ 00:00:00 trong một ngày cụ thể\nlet timestamp = parseInt(flow.get(\"time\"), 10); // Đảm bảo timestamp là số nguyên\n\n// Tính toán giờ và phút\nlet hours = Math.floor(timestamp / (1000 * 60 * 60));\nlet minutes = Math.floor((timestamp % (1000 * 60 * 60)) / (1000 * 60));\n\n// Định dạng thành chuỗi hh:mm\nlet formattedTime = (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;\n\n// Gán chuỗi thời gian đã định dạng vào msg.payload\nmsg.payload = formattedTime; \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "312b7a7404c7db20",
                "2c569491f6305c24"
            ]
        ]
    },
    {
        "id": "8e2874808b8e7a0f",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 10",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 635.9999961853027,
        "y": 419.0000057220459,
        "wires": []
    },
    {
        "id": "e3b91fd5d047ece0",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Set to table data Flow Context",
        "func": "flow.set(\"table\", msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 705.9999961853027,
        "y": 479.0000057220459,
        "wires": [
            [
                "638d3418cf1ba387"
            ]
        ]
    },
    {
        "id": "38366ffa9378e331",
        "type": "switch",
        "z": "34836421c703f805",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Add success!",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Add success!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "7322ca28f2f4b0e0",
                "638d3418cf1ba387",
                "be850588720409c6"
            ],
            [
                "15a2c3d5868b7e4b"
            ]
        ]
    },
    {
        "id": "15a2c3d5868b7e4b",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Adding feeding time fail!",
        "name": "Adding feeding time fail!",
        "x": 1110,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1c2c335d55ebc684",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1131.9999923706055,
        "y": 418.0000114440918,
        "wires": []
    },
    {
        "id": "7322ca28f2f4b0e0",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Feeding Time Added!",
        "name": "Feeding Time Added!",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "230ac07b110aa449",
        "type": "ui_button",
        "z": "34836421c703f805",
        "name": "Add button",
        "group": "590e614324272a29",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Add time",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "sent",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "42d48329161bb8af"
            ]
        ]
    },
    {
        "id": "d9742c2819931028",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Get \"add time\" field",
        "func": "flow.set(\"time\", msg.payload);\nreturn ;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cc9b99af9a973ecd",
        "type": "switch",
        "z": "34836421c703f805",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "On",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "b168c7f6045c02f6",
                "9c7b3a70546c5636"
            ],
            [
                "50f00c8642c1eab3",
                "fcf6547251b5a043"
            ]
        ]
    },
    {
        "id": "b168c7f6045c02f6",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Automatic feeding mode:",
        "name": "",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "50f00c8642c1eab3",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Automatic feeding mode:",
        "name": "",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0ac7ab67d8f0f85",
        "type": "function",
        "z": "34836421c703f805",
        "name": "Get \"delete index\" field",
        "func": "flow.set(\"index\", msg.payload);\nreturn ;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4b3acabb3f17a7af",
        "type": "switch",
        "z": "34836421c703f805",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Delete success!",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Delete success!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "638d3418cf1ba387",
                "1f764c90a5409687",
                "d2b28baa46a7b22e"
            ],
            [
                "b2ea972208ae8bd5"
            ]
        ]
    },
    {
        "id": "1f764c90a5409687",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Feeding Time Deleted!",
        "name": "Feeding Time Deleted!",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "b2ea972208ae8bd5",
        "type": "ui_toast",
        "z": "34836421c703f805",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Deleting feeding time fail!",
        "name": "Deleting feeding time fail!",
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9c7b3a70546c5636",
        "type": "function",
        "z": "34836421c703f805",
        "name": "function 2",
        "func": "global.set(\"autoFeed\", true);\nreturn;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf6547251b5a043",
        "type": "function",
        "z": "34836421c703f805",
        "name": "function 3",
        "func": "global.set(\"autoFeed\", false);\nreturn;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "661f99780b5b29e6",
        "type": "ui_switch",
        "z": "34836421c703f805",
        "name": "",
        "label": "Email notification",
        "tooltip": "Feeding notification through email on schedule",
        "group": "590e614324272a29",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "cdce8c4165890d0a",
        "type": "file",
        "z": "34836421c703f805",
        "g": "94a271eea9fa077a",
        "name": "",
        "filename": ".node-red\\projects\\AquaSmart\\scheduling.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d01402844ef2d11e",
        "type": "complete",
        "z": "34836421c703f805",
        "g": "94a271eea9fa077a",
        "name": "",
        "scope": [
            "be850588720409c6"
        ],
        "uncaught": false,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "67dfd12da60e4341"
            ]
        ]
    },
    {
        "id": "67dfd12da60e4341",
        "type": "function",
        "z": "34836421c703f805",
        "g": "94a271eea9fa077a",
        "name": "function 4",
        "func": "var msg = flow.get(\"table\");\n// bỏ cột id\nlet new_msg = {\"payload\": msg.payload.map(({id, ...rest}) => rest)};\nreturn new_msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 800,
        "wires": [
            [
                "4f61e1304a005a69",
                "cdce8c4165890d0a"
            ]
        ]
    },
    {
        "id": "4f61e1304a005a69",
        "type": "debug",
        "z": "34836421c703f805",
        "g": "94a271eea9fa077a",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "ea0cebee5d175aed",
        "type": "complete",
        "z": "34836421c703f805",
        "g": "94a271eea9fa077a",
        "name": "",
        "scope": [
            "d2b28baa46a7b22e"
        ],
        "uncaught": false,
        "x": 130,
        "y": 860,
        "wires": [
            [
                "67dfd12da60e4341"
            ]
        ]
    },
    {
        "id": "be850588720409c6",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "d2b28baa46a7b22e",
        "type": "debug",
        "z": "34836421c703f805",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "2e6a6379.742abc",
        "type": "ui_table",
        "z": "2c95d874b6e3eb36",
        "group": "ff9fdb9a.7da098",
        "name": "testTable",
        "order": 6,
        "width": "8",
        "height": 5,
        "columns": [
            {
                "field": "rowNumber",
                "title": "Row Number 1",
                "width": "",
                "align": "left",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "textValue",
                "title": "Text",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "numberValue",
                "title": "Number",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "1c377ea0.5801e1"
            ]
        ]
    },
    {
        "id": "16664cef.5b26b3",
        "type": "function",
        "z": "2c95d874b6e3eb36",
        "name": "table paramter",
        "func": "msg.ui_control = {tabulator:{}};\n\n//workaround that buttons can`t deliver empty strings\nif (msg.payload.hasOwnProperty('payload')) {\n    msg.payload=msg.payload.payload;\n}\n\nmsg.ui_control.tabulator[msg.topic]=msg.payload;\ndelete msg.topic;\nmsg.payload=null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 562,
        "y": 429,
        "wires": [
            [
                "2e6a6379.742abc",
                "b8d75d24.6cbed"
            ]
        ]
    },
    {
        "id": "b8d75d24.6cbed",
        "type": "debug",
        "z": "2c95d874b6e3eb36",
        "name": "table input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 429,
        "wires": []
    },
    {
        "id": "1c377ea0.5801e1",
        "type": "debug",
        "z": "2c95d874b6e3eb36",
        "name": "table output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 943,
        "y": 140,
        "wires": []
    },
    {
        "id": "b15c31a9.af37c",
        "type": "ui_switch",
        "z": "2c95d874b6e3eb36",
        "name": "selectable",
        "label": "selectable",
        "tooltip": "",
        "group": "ff9fdb9a.7da098",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "selectable",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 202,
        "y": 225,
        "wires": [
            [
                "16664cef.5b26b3"
            ]
        ]
    },
    {
        "id": "75207e8d.c54d4",
        "type": "ui_switch",
        "z": "2c95d874b6e3eb36",
        "name": "movableColumns",
        "label": "movableColumns",
        "tooltip": "",
        "group": "ff9fdb9a.7da098",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "movableColumns",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 232,
        "y": 276,
        "wires": [
            [
                "16664cef.5b26b3"
            ]
        ]
    },
    {
        "id": "f178c6fe.710ef8",
        "type": "ui_button",
        "z": "2c95d874b6e3eb36",
        "name": "",
        "group": "ff9fdb9a.7da098",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fill demo data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"textValue\":\"Line #1\",\"numberValue\":123.12},{\"textValue\":\"Line #2\",\"numberValue\":100},{\"textValue\":\"Line #3\",\"numberValue\":50}]",
        "payloadType": "json",
        "topic": "rowFormatter",
        "topicType": "str",
        "x": 222,
        "y": 140,
        "wires": [
            [
                "2e6a6379.742abc"
            ]
        ]
    },
    {
        "id": "7b6490b3.cd9c7",
        "type": "function",
        "z": "2c95d874b6e3eb36",
        "name": "callback function(s)",
        "func": "// how to use the editor to write callback functions\n// DO NOT wire this into your flow!\n// copy / paste \"function( ... }\" into the correct calback parameter\n// use the \"debugger\" statement to debug your callback inside your browser\n\nvar topCalc = function(values, data, calcParams){\n    var total = 0;\n    var calc = 0;\n    var count = 0;\n    data.forEach(value => {\n        total+=Number(value.numberValue);\n        count++;\n    });\n    if (count>0) calc=(total/count).toFixed(2);\n    return `${calc} (avg)`;\n}\n\nvar legend = function (value) {\n    if (value<100) return \"<span style='color:#FF0000;'>\"+value+\"</span>\";\n    else return \"<span style='color:#000000;'>\"+value+\"</span>\"; \n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 572,
        "y": 548,
        "wires": [
            []
        ]
    },
    {
        "id": "25247f4b.cc7ec",
        "type": "inject",
        "z": "2c95d874b6e3eb36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 56,
        "y": 276,
        "wires": [
            [
                "75207e8d.c54d4",
                "bd3fd382.a2aa9"
            ]
        ]
    },
    {
        "id": "bd3fd382.a2aa9",
        "type": "ui_switch",
        "z": "2c95d874b6e3eb36",
        "name": "headerVisible",
        "label": "headerVisible",
        "tooltip": "",
        "group": "ff9fdb9a.7da098",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "headerVisible",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 222,
        "y": 327,
        "wires": [
            [
                "16664cef.5b26b3"
            ]
        ]
    }
]